## Analytics: Window Functions

In [6]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2

conn = psycopg2.connect("dbname=northwind user=postgres password=password host=localhost port=5433")

#### Display a table of the customer contact names, country and the total number of customer by gender.

In [7]:
sql = """
select "ContactName", "Country", 
COUNT(*) OVER(PARTITION by "Country") "CountryCount"
FROM customers
"""

data = sqlio.read_sql_query(sql, conn)
data

           ContactName      Country  CountryCount
0       Yvonne Moncada    Argentina             3
1     Patricio Simpson    Argentina             3
2     Sergio Gutiérrez    Argentina             3
3        Roland Mendel      Austria             2
4          Georg Pipps      Austria             2
5      Catherine Dewey      Belgium             2
6     Pascale Cartrain      Belgium             2
7        Paula Parente       Brazil             9
8         Mario Pontes       Brazil             9
9        André Fonseca       Brazil             9
10    Bernardo Batista       Brazil             9
11      Lúcia Carvalho       Brazil             9
12        Pedro Afonso       Brazil             9
13   Anabela Domingues       Brazil             9
14           Aria Cruz       Brazil             9
15      Janete Limeira       Brazil             9
16   Elizabeth Lincoln       Canada             3
17     Yoshi Tannamuri       Canada             3
18      Jean Fresnière       Canada             3
19      Jytte Petersen      Denmark             2
20         Palle Ibsen      Denmark             2
21     Matti Karttunen      Finland             2
22    Pirkko Koskitalo      Finland             2
23      Marie Bertrand       France            11
24  Frédérique Citeaux       France            11
25    Laurence Lebihan       France            11
26        Paul Henriot       France            11
27      Janine Labrune       France            11
28        Mary Saveley       France            11
29       Martine Rancé       France            11
..                 ...          ...           ...
61    Eduardo Saavedra        Spain             5
62          Diego Roel        Spain             5
63  Christina Berglund       Sweden             2
64       Maria Larsson       Sweden             2
65        Michael Holz  Switzerland             2
66           Yang Wang  Switzerland             2
67           Ann Devon           UK             7
68       Helen Bennett           UK             7
69        Thomas Hardy           UK             7
70     Elizabeth Brown           UK             7
71      Simon Crowther           UK             7
72          Hari Kumar           UK             7
73   Victoria Ashworth           UK             7
74       Howard Snyder          USA            13
75         Fran Wilson          USA            13
76        Jaime Yorres          USA            13
77          John Steel          USA            13
78        Paula Wilson          USA            13
79       Yoshi Latimer          USA            13
80      Jose Pavarotti          USA            13
81       Rene Phillips          USA            13
82  Art Braunschweiger          USA            13
83           Liz Nixon          USA            13
84            Liu Wong          USA            13
85      Helvetius Nagy          USA            13
86      Karl Jablonski          USA            13
87    Carlos Hernández    Venezuela             4
88    Felipe Izquierdo    Venezuela             4
89     Carlos González    Venezuela             4
90      Manuel Pereira    Venezuela             4

[91 rows x 3 columns]