# Basic Sql Queries

In [18]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2

conn = psycopg2.connect("dbname=northwind user=postgres password=password host=localhost port=5433")

![alt text](northwind.png "Title")

###  Display table of those products that are between the ages of 10 and 20

In [22]:
sql = """
SELECT * 
FROM products
WHERE "UnitPrice" BETWEEN 10 and 20
"""

data = sqlio.read_sql_query(sql, conn)
data.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,15,Genen Shouyu,6,2,24 - 250 ml bottles,13.00,39,0,5,0
4,16,Pavlova,7,3,32 - 500 g boxes,17.45,29,0,10,0