# Grouping & Computing Aggregates

In [1]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2

conn = psycopg2.connect("dbname=northwind user=postgres password=password host=localhost port=5433")

### Display a table that counts the number of the count of suppliers from each country

In [3]:
sql = """
SELECT "Country", count(*)
FROM suppliers
GROUP BY "Country"
"""

data = sqlio.read_sql_query(sql, conn)
data.head(10)

       Country  count
0        Spain      1
1        Italy      2
2       Norway      1
3       Sweden      2
4       France      3
5          USA      4
6  Netherlands      1
7       Brazil      1
8    Australia      2
9           UK      2