In [4]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2

conn = psycopg2.connect("dbname=northwind user=postgres password=password host=localhost port=5433")

### Display the columns in the Orders & Order_Details table in one result set

In [9]:
# inner join is the cross product of multiple tables and returns a result set that satisfies the condition
sql = """
SELECT *
FROM order_details INNER JOIN orders
ON orders."OrderID" = order_details."OrderID"
"""

data = sqlio.read_sql_query(sql, conn)
data.head(10)

,OrderID,ProductID,UnitPrice,Quantity,Discount,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,11,14.0,12,0.00,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,10248,42,9.8,10,0.00,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
2,10248,72,34.8,5,0.00,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
3,10249,14,18.6,9,0.00,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
4,10249,51,42.4,40,0.00,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
5,10250,41,7.7,10,0.00,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
6,10250,51,42.4,35,0.15,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
7,10250,65,16.8,15,0.15,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
8,10251,22,16.8,6,0.05,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France
9,10251,57,15.6,15,0.05,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France

In [ ]:
# inner join is the cross product of multiple tables and returns a result set that satisfies the condition
sql = """
SELECT *
FROM order_details INNER JOIN orders
ON orders."OrderID" = order_details."OrderID"
"""

data = sqlio.read_sql_query(sql, conn)
data.head(10)